<%include header.ejs %>
<!-- Header -->
<header id="header">
  <div id="home" class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>PIZZA</h1>
            <p>Reservations: 9876543210</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<% include footer.ejs %>