

            <% include header.ejs %>

<div class='back'>
<!-- Mania Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Pizza Mania </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
        </div>
      </div>
    </div>

    <div class="tab-content col-xs-12 pd-N">
              
              <div id="pizza-mania-veg" class="tab-pane fade pizza-items in active">
                <div class="col-xs-12 pd-N visible-xs">
                  <span class="tab-text">Slide me for more types of pizza's</span>
                  <span class="tab-title">PIZZA MANIA VEG</span>
                </div>
                <div class="col-xs-12 product-box our-menu-box">
                  <div class="row vertical-box displayFlex">
                                        <div class="col-md-4 col-xs-12 ">
                      <div class="row">
                        <!--<a href="/menu/pizza-mania/veg-loaded " title="VEG LOADED" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/veglloaded.jpg" alt="veg-loaded" title="" class="img-responsive"></span></div>
                                                    <h3>VEG LOADED</h3>
                                                    <!--<h3>VEG LOADED</h3> -->
                          <p>Tomato | Grilled Mushroom |Jalapeno |Golden Corn | Beans in a fresh pan crust</p>                       <!-- </a> -->
                         <a href="order" class="btn btn-primary custom-btn">Order Now</a>

                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12">
                      <div class="row">
                        <!--<a href="/menu/pizza-mania/cheesy " title="CHEESY" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/cheesy.jpg" alt="cheesy" title="" class="img-responsive"></span></div>
                                                    <h3>CHEESY</h3>
                                                    <!--<h3>CHEESY</h3> -->
                          <p><span>Orange Cheddar Cheese I Mozzarella</span></p>                       <!-- </a> -->
                       <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                    </div>
                    </div>

                    
                                 
                             <div class="col-md-4 col-xs-12">
                      <div class="row">
                        <!--<a href="/menu/pizza-mania/golden-corn " title="GOLDEN CORN" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/goldencorn.jpg" alt="golden-corn" title="" class="img-responsive"></span></div>
                                                    <h3>GOLDEN CORN</h3>
                                                    <!--<h3>GOLDEN CORN</h3> -->
                          <p><span>Golden Corn</span></p>                       <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/pizza-mania/paneer-onion " title="PANEER & ONION" style="cursor: pointer"> -->
                          
                    </div>
                                      </div>
                </div>
              </div>
              
                    </div>
                                      </div>
                </div>
              </div>
                        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
          
          <% include footer.ejs%>