<% include header.ejs %>


<!-- Features Section -->
<div class='back'>
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>MENU</h2>
    </div>
    <div class="back">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Veg Pizza</h3>
          <img src="/img/gallery/va.jpeg" class="img-responsive" alt="">
                 <p class="my-p"> <span style="font-size: small;">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas, it's softer and tastier</span> </p>

        </div>
        <a href="veg" class="btn btn-primary custom-btn">View All</a> 
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Non Veg Pizza</h3>
          <img src="/img/gallery/chicken tandoori.jpg" class="img-responsive" alt="">
           <p class="my-p"><span style="font-size: small;">Choose your favourite non-veg pizzas from the Domino's Pizza menu. Get fresh non-veg pizza with your choice of crusts & toppings</span> </p>

        </div>
         <a href="nonveg" class="btn btn-primary custom-btn">View All</a> 
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Pizza Mania</h3>
          <img src="/img/gallery/pizzamania.jpg" class="img-responsive" alt="">
         <p class="my-p"><span style="font-size: small;">Indulge into mouth-watering taste of Pizza mania range, perfect answer to all your food cravings </span> </p></div>
      </div>
      <a href="mania" class="btn btn-primary custom-btn">View All</a> 
    </div>
      </div>
    </div>
  </div>
</div>


<% include footer.ejs %>

