<%include header.ejs%>



<div class='back'>
<!-- Features Section -->
<div id="nonveg" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Non Veg Pizza</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          

</div>
</div>
</div>

<div id="nonveg" class="tab-pane fade pizza-items in active">
                <div class="col-xs-12 pd-N visible-xs">
                  <span class="tab-text">Slide me for more types of pizza's</span>
                  <span class="tab-title">Non-veg pizzas</span>
                </div>
                <div class="col-xs-12 product-box our-menu-box">
                  <div class="row vertical-box displayFlex">
                          
                          


                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/non-veg-pizzas/chicken-tikka " title="CHICKEN TIKKA" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/chickentikka.jpeg" alt="chicken-tikka" title="" class="img-responsive"></span></div>
                                          ''          <h3 color:'red'>CHICKEN TIKKA</h3>
                                                    <!--<h3>CHICKEN TIKKA</h3> -->
                          <p><span style="font-size: small;">Chicken Tikka I Onion on Makhani Sauce</span></p>                       <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                    


                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/non-veg-pizzas/chicken-sausage " title="CHICKEN SAUSAGE" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/chickensauge.jpeg" alt="chicken-sausage" title="" class="img-responsive"></span></div>
                                                    <h3>CHICKEN SAUSAGE</h3>
                                                    <!--<h3>CHICKEN SAUSAGE</h3> -->
                          <p><span style="font-size: small;">Chicken Sausage I Cheese</span></p>                       <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>




                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/non-veg-pizzas/non-veg-supreme " title="Non Veg Supreme" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/supreme.jpeg" alt="non-veg-supreme" title="" class="img-responsive"></span></div>
                                                    <h3>NON VEG SUPREME</h3>
                                                    <!--<h3>Non Veg Supreme</h3> -->
                          <p><span style="font-size: small;">Pepper BBQ Chicken, Peri-Peri Chicken, Grilled Chicken</p>     </span>                  <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
</div>                          


                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/non-veg-pizzas/peri-peri-chicken " title="PERI-PERI CHICKEN" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/peri.jpeg" alt="peri-peri-chicken" title="" class="img-responsive"></span></div>
                                                    <h3>PERI-PERI CHICKEN</h3>
                                                    <!--<h3>PERI-PERI CHICKEN</h3> -->
                          <p><span style="font-size: small;">Peri-Peri Chicken I Red Paprika</span></p>                       <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/non-veg-pizzas/pepper-barbecue-onion " title="PEPPER BARBECUE & ONION" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/pepper.jpeg" title="" class="img-responsive"></span></div>
                                                    <h3>PEPPER BARBECUE & ONION</h3>
                                                    <!--<h3>PEPPER BARBECUE & ONION</h3> -->
                          <p><span style="font-size: small;">Pepper Barbecue Chicken I Onion</span></p>                       <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/non-veg-pizzas/chicken-fiesta " title="CHICKEN FIESTA" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/fiesta.jpeg" alt="chicken-fiesta" title="" class="img-responsive"></span></div>
                                                    <h3>CHICKEN FIESTA</h3>
                                                    <!--<h3>CHICKEN FIESTA</h3> -->
                          <p><span style="font-size: small;">Grilled Chicken Rashers I Peri-Peri Chicken I Onion </p>   </span> <p></p>                   <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                                      </div>
                </div>
              </div>
                        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
	

</div>

<div>
	
</div>
<% include footer.ejs%>