<%include header.ejs%>


<!-- Features Section -->
<div class='back'>

<div id="veg" class="text-center">
<div>
  <div class="container">
    <div class="section-title">
      <h2>Veg Pizza</h2>
    </div>
    <div class="back">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
</div>
</div>
</div>
<div id="veg" class="text-center">
  <div class="container">
    <div class="section-title>


<div id="veg-pizzas" class="tab-pane fade pizza-items in active">
                <div class="col-xs-12 pd-N visible-xs">
                  <span class="tab-text">Slide me for more types of pizza's</span>
                  <span class="tab-title">veg pizzas</span>
                </div>
                <div class="col-xs-12 product-box our-menu-box">
                  <div class="row vertical-box displayFlex">
                          
                          

<div class='back'>
              <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/cheese-n-corn " title="CHEESE N CORN" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/corn.jpg" alt="cheese-n-corn" title="" class="img-responsive"></span></div>
                                                    <h3>CHEESE N CORN</h3>
                                                    <!--<h3>CHEESE N CORN</h3> -->
                          <p><span style="font-size: small;">Cheese I Golden Corn.For veggie,with cheese and golden corn.</span></p>                       <!-- </a> -->
                        <a href="order" class="btn btn-primary custom-btn">Order Now</a></div>
                    </div>


                            <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/peppy-paneer " title="Peppy Paneer" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/peppypaneer.jpg" title="" class="img-responsive"></span></div>
                                                    <h3>Peppy Paneer</h3>
                                                    <!--<h3>Peppy Paneer</h3> -->
                          <p><span style="font-size: small;">Chunky paneer with crisp capsicum and spicy red pepper - quite a mouthful!</span></p>                       <!-- </a> -->
                        <a href="option" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/mexican-green-wave " title="Mexican Green Wave" style="cursor: pointer"> -->
                          
                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/deluxe-veggie " title="Deluxe Veggie" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/deluxe.jpg" alt="deluxe-veggie" title="" class="img-responsive"></span></div>
                                                    <h3>Deluxe Veggie</h3>
                                                    <!--<h3>Deluxe Veggie</h3> -->
                          <p><span style="font-size: small;">For a vegetarian,this one's got it all.. The onions, the capsicum, those delectable mushrooms - with paneer and golden corn.</span></p>                       <!-- </a> -->
                        <a href="option" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                          
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/veg-extravaganza " title="Veg Extravaganza" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/va.jpeg" alt="veg-extravaganza" title="" class="img-responsive"></span></div>
                                                    <h3>Veg Extravaganza</h3>
                                                    <!--<h3>Veg Extravaganza</h3> -->
                          <p><span style="font-size: small;">A pizza that decidedly staggers under an overload of golden corn, exotic black olives- with extra cheese to go all around.</span></p>                       <!-- </a> -->
                        <a href="option" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                          
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/margherita " title="Margherita" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/margherita.jpeg" alt="margherita" title="" class="img-responsive"></span></div>
                                                    <h3>Margherita</h3>
                                                    <!--<h3>Margherita</h3> -->
                          <p><span style="font-size: small;">A hugely popular margherita, with a deliciously tangy single cheese topping</span></p>                       <!-- </a> -->
                        <a href="option" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>



                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/paneer-makhani " title="PANEER MAKHANI" style="cursor: pointer"> -->
                          <div><span class="icon-box"><img src="/img/gallery/paneermakhani.jpeg" alt="paneer-makhani" title="" class="img-responsive"></span></div>
                                                    <h3>PANEER MAKHANI</h3>
                                                      <!--<h3>PANEER MAKHANI</h3> -->
                          <p><span style="font-size: small;">Paneer and Capsicum on Makhani Sauce-with extra cheese and paneer to go all around.</span></p>                       <!-- </a> -->


                          <a href="option" class="btn btn-primary custom-btn">Order Now</a>
                      </div>
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/veggie-paradise " title="VEGGIE PARADISE" style="cursor: pointer"> -->
                        
                    </div>
                                        <div class="col-md-4 col-xs-12 col-sm-6">
                      <div class="row">
                        <!--<a href="/menu/veg-pizzas/fresh-veggie " title="FRESH VEGGIE" style="cursor: pointer"> -->
                        
                    </div>
                                      </div>
                </div>
              </div>
                        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>

<%include footer.ejs%>